@page "{id}"
@using System.Security.Claims;
@model ArticleModel
@{
    ViewData["Title"] = @Model.Article.Title;
}

<h1>@Model.Article.Title</h1>

<div>
    @Html.Raw(Model.Article.Body)
</div>


<h2>Dodaj komentarz</h2>
<form method="post" asp-page-handler="OnPost">
    <div class="form-group">
        <label>Treść komentarza</label>
        <input asp-for="Comment.Body" class="form-control" maxlength="256" />
    </div>
    <input asp-for="Comment.UserId" class="form-control" maxlength="100" style="display:none;" value="@User.FindFirst(ClaimTypes.NameIdentifier).Value" />
    <input asp-for="Comment.CommentedBodyId" class="form-control" maxlength="100" style="display:none;" value="@Model.Article.Id" />
    <button type="submit" class="btn btn-primary">Dodaj komentarz</button>
</form>


<h2>Komentarze</h2>

@foreach (var comment in Model.Comments)
{
    <div>
        <p>Autor: @comment.UserId</p>
        <p>Data utworzenia: @comment.CreationDate</p>
        <p>@comment.Body</p>
    </div>
}

<hr />
