@page
@using System.Security.Claims;
@model IndexModel
@{
    ViewData["Title"] = "Strona główna";
}

</style>

<div class="container">
    <h1 class="text-center mt-5">Lastest posts</h1>

    @foreach (var entry in Model.Articles)
    {
            <div class="col-md-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">@entry.Title</h5>
                        <p class="card-text">
          

                        @Html.Raw(entry.Body.Replace("img src=","img height=\"90px\" width=\"90px\" src="))

                              
                            @if (entry.Body.Length > 150)
                            {
                                <span>...</span>
                            }</p>

                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                            <small class="text-muted"><b>Author:</b> @entry.UserId</small><br>
                            <small class="text-muted"><b>Created:</b> @entry.CreationDate.ToString("yyyy-MM-dd")</small>
                            </div>
                            <div>
                                <a href="/Article/@entry.Id" class="btn btn-primary mr-2">Read More</a>
                                @if (User.Identity.IsAuthenticated && entry.UserId == User.FindFirst(ClaimTypes.NameIdentifier)?.Value)
                                {
                                        <a href="/EditArticle/@entry.Id" class="btn btn-secondary">Edit</a>
                                <form method="post" asp-page="./Index" asp-route-id="@entry.Id" class="delete-form" style="display: inline;">
                                    <button type="submit" onclick="return showConfirmDialog(event)" class="btn btn-danger">Delete</button>
                                </form>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
     
    }
</div>
@{
    var prevDisabled = !Model.Articles.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Articles.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Articles.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Articles.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Next
</a>

<style>

    .confirm-dialog {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        z-index: 9999;
    }

        .confirm-dialog h4 {
            margin-top: 0;
        }

        .confirm-dialog p {
            margin-bottom: 20px;
        }

    .confirm-dialog-buttons {
        display: flex;
        justify-content: center;
    }

        .confirm-dialog-buttons button {
            margin: 0 10px;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            background-color:white;
        }

        .confirm-dialog-buttons img {
            width: 120px;
            height: 120px;
        }

</style>

<script>
    function showConfirmDialog(event) {
        event.preventDefault(); // Prevent the default form submission

        var form = event.target.closest('.delete-form'); // Find the closest form element

        var dialog = document.createElement('div');
        dialog.className = 'confirm-dialog';

        var title = document.createElement('h4');
        title.innerText = 'Confirmation';
        dialog.appendChild(title);

        var text = document.createElement('p');
        text.innerText = 'Are you sure you want to delete this article?';
        dialog.appendChild(text);

        var buttonsDiv = document.createElement('div');
        buttonsDiv.className = 'confirm-dialog-buttons';

        var confirmButton = document.createElement('button');
        confirmButton.type = 'submit';

        var confirmImage = document.createElement('img');
        confirmImage.src = "/Yes.png"; // Replace with the path to your confirm image
        confirmImage.alt = 'Confirm'; // Add an appropriate alt text for accessibility
        confirmButton.appendChild(confirmImage);
        confirmButton.addEventListener('click', function () {
            // Submit the form
            form.submit();
        });

        buttonsDiv.appendChild(confirmButton);

        var cancelButton = document.createElement('button');
        cancelButton.type = 'button';

        var cancelImage = document.createElement('img');
        cancelImage.src = "/No.png" // Replace with the path to your cancel image
        cancelImage.alt = 'Cancel'; // Add an appropriate alt text for accessibility

        cancelButton.addEventListener('click', function () {
            dialog.remove();
        });
        buttonsDiv.appendChild(cancelButton);

        dialog.appendChild(buttonsDiv);

        cancelButton.appendChild(cancelImage);
        document.body.appendChild(dialog);

        return false;
    }
</script>







